<?xml version='1.0'?>
<Include>
  <?include defines.wxs?>
  <RegistryValue
    Root="HKLM"
    Key="$(var.FxKey)\v4.1"
    Name="BuildNumber"
    Type ="string"
    Value ="$(var.ProdVerBuild)"
    Id="Registry_BuildVersionValue"
    />

  <RegistryValue
    Root="HKLM"
    Key="$(var.FxKey)\v4.1"
    Name="RevisionNumber"
    Type ="string"
    Value ="$(var.ProdVerRevision)"
    Id="Registry_RevisionVersionValue"
    />

    <RegistryKey
        Root="HKLM"
        Id="Registry_AssemblyFolder_v4_1"
        Key="$(var.FxKey)\v4.1\AssemblyFolder"
        Action="createAndRemoveOnUninstall"
        >
        <RegistryValue
            Type="string"
            Value="[AssembliesDirLE]"
            Id="Registry_AsemblyFolderDefault_v4_1"
            />
    </RegistryKey>

  <!-- Visal C# Express 2010 -->
  <?include vs_skus\VCSharpExpress10.wxs?>
  <?include $(env.SPOCLIENT)\Framework\IDE\Targets\v4.1\WixTargetsRegIncludeInner.wxs?>
  <!-- VisualStudio 2010 -->
  <?include vs_skus\VisualStudio10.wxs?>
  <?include $(env.SPOCLIENT)\Framework\IDE\Targets\v4.1\WixTargetsRegIncludeInner.wxs?>

</Include>
